/**
 * Paths
 */

$base-path:                        '../' !default;
$font-path:                        $base-path + 'fonts/' !default;
$image-path:                       $base-path + 'images/'!default;

/**
 * Brand
 */

$text-color:                        #152a68  !default;
$brand-primary:                     #eff5ff !default;
$brand-secondary:                   $text-color !default;
$link-color:                        $text-color !default;
$line-color:                        #ccc !default;

/**
 * Grid
 */

$grid-gutter-width:                 40px !default;

/**
 * Breakpoints - matched to bootstrap settings
 */

$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;

$mq-breakpoints: (
        mobile:  $screen-xs,
        tablet:  $screen-sm,
        desktop: $screen-md,
        wide:    $screen-lg
);

/**
 * Spaces
 */

$space:                             40px !default;

/*
 * Typography
 */

$font-size-small:                   14px !default;
$font-size-base:                    16px !default;
$line-height-base:                  1.5 !default;
$font-family-sans-serif:            "Montserrat", sans-serif !default;
$font-family-brand:                 $font-family-sans-serif;

$font-size-h1:                      30px !default;
$font-size-h2:                      24px !default;
$font-size-h3:                      20px !default;

$headings-font-family:              $font-family-brand !default;
$headings-font-weight:              700 !default;
$headings-line-height:              1.25 !default;
